bcrypt==3.1.7
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
chart-studio==1.0.0
Click==7.0
dash==1.6.1
dash-colorscales==0.0.4
dash-core-components==1.5.1
dash-html-components==1.0.2
dash-renderer==1.2.1
dash-table==4.5.1
DateTime==4.3
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Compress==1.4.0
Flask-Login==0.4.1
Flask-WTF==0.14.2
future==0.18.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.4.1
MarkupSafe==1.1.1
numpy==1.17.4
pandas==0.25.3
pandas-datareader==0.8.1
peewee==3.12.0
plotly==4.3.0
pycparser==2.19
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
retrying==1.3.3
six==1.13.0
urllib3==1.25.7
Werkzeug==0.16.0
WTForms==2.2.1
zope.interface==4.7.1
gunicorn==20.0.2
